.calendario-wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    padding: 20px;
    padding-top: 20px;
    background: #f0f0f0;
    color: #0d47a1;
    box-sizing: border-box;
}

.calendario-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    padding: 0 10px;
    box-sizing: border-box;
}

.calendario-table {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.calendario-header button {
    background: #e0e0e0;
    color: #222;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.2s ease;
}

.calendario-header button:hover {
    background: #d5d5d5;
}

.calendario-title {
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: bold;
}

.calendario-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background: #f1f1f1;
}

.calendario-weekday {
    text-align: center;
    padding: 10px;
    font-weight: 600;
    font-size: 0.9rem;
    border-bottom: 1px solid #ddd;
}

.calendario-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.calendario-cell {
    padding: 10px;
    text-align: right;
    border: 1px solid #eee;
    font-size: 1rem;
    position: relative;
    background: #fff;
    transition: background 0.3s ease;
}

/* 🔹 Día actual -> círculo azul alrededor del número */
.calendario-cell span.hoy {
    display: inline-block;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 50%;
    background: #2196f3;
    color: #fff;
    font-weight: bold;
}

/* 🔹 Días de vacaciones */
.calendario-cell.vacacion {
    background-color: #cdf3f6;
    border-radius: 8px;
    font-weight: bold;
}


.inhabil {
    background-color: rgba(255, 0, 0, 0.264);
    /* rojo suave */
    border-radius: 8%;
}

.fin-de-semana {
    background-color: rgba(255, 255, 152, 0.275);
    /* amarillo suave */
}


.cargando-calendario {
    display: flex;
    min-height: 100px;
    margin-top: -40px;
}

.cargando-texto_calendario {
    font-size: 1rem;
    color: #333;
}

.calendario-leyenda {
    display: flex;
    gap: 15px;
    margin: 10px 0 20px 0;
    flex-wrap: wrap;
}

.leyenda-item {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 0.9rem;
    color: #333;
}

.color-bolita {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: inline-block;
}

.bolitas-vacaciones {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;
}

.bolita {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .calendario-wrap {
        padding: 0px;
    }
}