/* Título */
.titulo1 {
  color: #0d47a1;
}

/* Tarjetas de resumen */
.content {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.tarjeta_content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
}

.tarjeta {
  background: #fff;
  border-radius: 12px;
  padding: 40px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.tarjeta .valor {
  font-size: 1.5rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 5px;
}

.tarjeta p {
  font-size: 0.9rem;
  color: #333;
  margin: 0;
}

.tarjeta p small {
  display: block;
  font-size: 0.75rem;
  color: #777;
}

/* Formulario */
.seccion-formulario {
  display: flex;
  justify-content: center;
}

.tarjeta-formulario {
  background: #ffffff;
  color: #000;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.grupo-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.grupo-input label {
  font-weight: 500;
  color: #333;
  font-size: 1rem;
  margin-bottom: 5px;
}

.grupo-input input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: #e0efff;
  color: #000000;
}

.grupo-input input:focus {
  outline: none;
  border-color: #1976d2;
  box-shadow: 0 0 8px rgba(25, 118, 210, 0.3);
}

/* Botón */
form button {
  grid-column: 2;
  justify-self: end;
  padding: 14px 20px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 1rem;
  background: linear-gradient(90deg, #1976d2, #0d47a1);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: linear-gradient(90deg, #0d47a1, #1976d2);
}

/* Mensajes */
.mensaje-error {
  color: #d32f2f;
  font-weight: 600;
}

.mensaje-exito {
  color: #388e3c;
  font-weight: 600;
}

@media (max-width: 600px) {
  .content {
    padding: 0px;
  }

  .tarjeta_content {
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
  }

  .tarjeta {
    padding: 10px 5px;
  }

  .tarjeta .valor {
    font-size: 0.8rem;
  }

  .tarjeta p {
    font-size: 0.65rem;
  }

  .tarjeta p small {
    font-size: 0.65rem;
  }

  .titulo1 {
    font-size: 1rem;
  }

  .tarjeta-formulario {
    padding: 10px;
  }

  .grupo-input label {
    font-size: 0.8rem;
  }

  .grupo-input input {
    padding: 5px;
    font-size: 0.8rem;
    width: 90%;
    margin-left: 10px;
  }

  form button {
    padding: 7px 10px;
    font-size: 0.8rem;
  }

  form {
    grid-template-columns: 1fr;
  }

  form button {
    grid-column: 1;
    justify-self: center;
    width: 80%;
  }
}